<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>게시판 리스트</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/images/police-hat.ico">
</head>
<body>
	<header id="header">
        <div class="headerTit cf">
			<h1><span class="hidden">경찰청</span><a href="#"><img src="/images/mark.png" id="policeMainLogo" class="fl" alt="경찰청 메인 로고" tabindex=""></a>
			<a href="#"><img src="/images/banner_taegeukgi.png" id="taegeukgi" class="fl" alt="태극기" tabindex=""></a></h1>
			<span><a href="#" tabindex="" class="fl">국가상징<br/>알아보기</a></span>
			<form action="#" method="get" class="fl">
				<fieldset class="headerFieldSet">
					<label>
						<input type="search" name="headerSearch" id="headerSearch" placeholder="검색어를 입력하세요." onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력하세요.'">
					</label>
					<label>
						<button type="submit" name="headerSubmit" class="headerSubmit">
							검색
						</button>
					</label>
				</fieldset>
            </form>
			<div id="login"><a href="#" tabindex="">Login ▶</a></div>
			<div class="fontCustom">
				<div OnClick="location.href ='#'" style="cursor:pointer;"><a href="#" tabindex="">ㅡ</a></div>
				<div OnClick="location.href ='#'" style="cursor:pointer;"><a href="#" tabindex="">가</a></div>
				<div class="fontCustomMG"><a href="#" tabindex="">+</a></div>
			</div>
		</div>
        <div class="headerMenu">
			<div class="menu">
				<a href="#"><img src="/images/menu.png" id="headerMenuBtn" alt="메뉴 버튼" tabindex=""></a>
				<div class="nav cf">
					<div class="menuTit news"><a href="#" title="알림/소식" tabindex=""><h2><span>알림/소식</span></h2></a>
						<div class="twoInner">
							<div class="twoDepth cf">
								<ul class="menuML">
									<li class="menuSTit"><a href="#" title="알림">알림</a></li>
									<li class="menuSText"><a href="#">- 공지사항</a></li>
									<li class="menuSText"><a href="#">- 보도자료</a></li>
									<li class="menuSText"><a href="#">- 사실확인</a></li>
									<li class="menuSText"><a href="#">- 채용공고</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 입찰공고</a></li>
								</ul>
								<ul> 
									<li class="menuSTit"><a href="#" title="소식">소식</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 홍보콘텐츠</a></li>
								</ul>
								<ul>     
									<li class="menuSTit"><a href="#" title="정책홍보실">정책홍보실</a></li>
									<li class="menuSText"><a href="#">- 목표(비전)</a></li>
									<li class="menuSText"><a href="#">- 정책실명제</a></li>
									<li class="menuSText"><a href="#">- 자치경찰제</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 인권경찰</a></li>
								</ul>    
								<ul>
									<li class="menuSTit"><a href="#" title="경찰청 인권위원회">경찰청 인권위원회</a></li>
									<li class="menuSText"><a href="#">- 위원장 인사말</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 활동소식</a></li>
								</ul>
							</div>
						</div>		
					</div>
					<div class="menuTit"><a href="#" title="소통/공감" tabindex=""><h2><span>소통/공감</span></h2></a>
						<div class="twoInner">
							<div class="twoDepth cf">
								<ul class="menuML">        
									<li class="menuSTit"><a href="#" title="생활정보">생활정보</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 주요뉴스</a></li>
								</ul> 
								<ul>        
									<li class="menuSTit"><a href="#" title="적극행정">적극행정</a></li>
									<li class="menuSText"><a href="#">- 제도소개</a></li>
									<li class="menuSText"><a href="#">- 국민참여</a></li>
									<li class="menuSText"><a href="#">- 적극행정 자료실</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 적극행정 우수공무원</a></li>
								</ul> 
								<ul>       
									<li class="menuSTit"><a href="#" title="소통게시판">소통게시판</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 자유게시판</a></li>
								</ul>
								<ul>      
									<li class="menuSTit"><a href="#" title="추모관">추모관</a></li>
									<li class="menuSText"><a href="#">- 순직경찰관추모</a></li>
									<li class="menuSText"><a href="#">- 경찰영웅</a></li>
									<li class="menuSText"><a href="#">- 경찰기념공원</a></li>
									<li class="menuSText"><a href="#">- 추모관공지</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 행사갤러리</a></li>
								</ul>
							</div>	
						</div>	
					</div>
					<div class="menuTit"><a href="#" title="신고/지원" tabindex=""><h2><span>신고/지원</span></h2></a>
						<div class="twoInner">
							<div class="twoDepth cf">
								<ul class="menuML">
									<li class="menuSTit"><a href="#" title="범죄신고/상담">범죄신고/상담</a></li>
									<li class="menuSText"><a href="#">- 경찰민원포털</a></li>
									<li class="menuSText"><a href="#">- 가정,학교,성폭력 등<br>&nbsp; 신고/상담</a></li>
									<li class="menuSText"><a href="#">- 성범죄 상담 챗봇</a></li>
									<li class="menuSText"><a href="#">- 스마트 국민제보</a></li>
									<li class="menuSText"><a href="#">- 유실물 통합포털</a></li>
									<li class="menuSText"><a href="#">- 산업기술유출 신고</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 안전신문고</a></li>
								</ul>
								<ul>    
									<li class="menuSTit"><a href="#" title="사이버안전지킴이">사이버안전지킴이</a></li>
									<li class="menuSText"><a href="#">- 사이버범죄 신고/상담</a></li>
									<li class="menuSText"><a href="#">- 사이버범죄 예방교육 신청</a></li>
									<li class="menuSText"><a href="#">- 인터넷 사기 의심 전화·계좌번호<br>&nbsp; 조회</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 사이버범죄 예방홍보물</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="안심 서비스">안심 서비스</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 순찰장소 신청</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="치안정보/지원">치안정보/지원</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 회복적경찰활동 및<br>&nbsp; 범죄피해자 지원</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="각종 서식 다운로드">각종 서식 다운로드</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="menuTit"><a href="#" title="정보공개" tabindex=""><h2><span>정보공개</span></h2></a>
						<div class="twoInner">		
							<div class="twoDepth cf">
								<ul class="menuML">
									<li class="menuSTit"><a href="#" title="정보공개제도">정보공개제도</a></li>
									<li class="menuSText"><a href="#">- 제도안내</a></li>
									<li class="menuSText"><a href="#">- 법령/서식</a></li>
									<li class="menuSText"><a href="#">- 수수료안내</a></li>
									<li class="menuSText"><a href="#">- 접수처안내</a></li>
									<li class="menuSText"><a href="#">- 정보공개편람/청구</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 정보목록</a></li>
								</ul>
								<ul> 
									<li class="menuSTit"><a href="#" title="재정현황">재정현황</a></li>
									<li class="menuSText"><a href="#">- 사업설명자료</a></li>
									<li class="menuSText"><a href="#">- 국회심의과정</a></li>
									<li class="menuSText"><a href="#">- 예산확정현황</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 예산집행현황</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="사전정보공표">사전정보공표</a></li>
									<li class="menuSText"><a href="#">- 사전정보공표목록</a></li>
									<li class="menuSText"><a href="#">- 정보공개자료실</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 비공개세부기준</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="공공데이터">공공데이터</a></li>
									<li class="menuSText"><a href="#">- 경찰백서</a></li>
									<li class="menuSText"><a href="#">- 공공데이터 개방</a></li>
									<li class="menuSText"><a href="#">- 경찰통계자료</a></li>
									<li class="menuSText"><a href="#">- 경찰범죄통계</a></li>
									<li class="menuSText"><a href="#">- 경찰접수 교통사고 현황</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 통계연보</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="menuTit"><a href="#" title="법령/정책" tabindex=""><h2><span>법령/정책</span></h2></a>
						<div class="twoInner">
							<div class="twoDepth cf">
								<ul class="menuML">
									<li class="menuSTit"><a href="#" title="법령정보">법령정보</a></li>
									<li class="menuSText"><a href="#">- 입법예고</a></li>
									<li class="menuSText"><a href="#">- 행정예고</a></li>
									<li class="menuSText"><a href="#">- 개정법령</a></li>
									<li class="menuSText"><a href="#">- 소관법령</a></li>
									<li class="menuSText"><a href="#">- 훈령예규</a></li>
									<li class="menuSText"><a href="#">- 법령검색</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 판례검색</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="국회정보공개">국회정보공개</a></li>
									<li class="menuSText"><a href="#">- 국회제출자료</a></li>
									<li class="menuSText"><a href="#">- 치안정책자료</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 국회현장</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="규제개혁">규제개혁</a></li>
									<li class="menuSText"><a href="#">- 추진과제</a></li>
									<li class="menuSText"><a href="#">- 규제혁신</a></li>
									<li class="menuSText"><a href="#">- 규제개혁신문고</a></li>
									<li class="menuSText"><a href="#">- 규제개혁포털</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 국민 규제입증요청</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="menuTit"><a href="#" title="기관소개" tabindex=""><h2><span>기관소개</span></h2></a>
						<div class="twoInner">		
							<div class="twoDepth cf">
								<ul class="menuML">
									<li class="menuSTit"><a href="#" title="열린청장실">열린청장실</a></li>
									<li class="menuSText"><a href="#">- 청장소개</a></li>
									<li class="menuSText"><a href="#">- 청장동정</a></li>
									<li class="menuSText"><a href="#">- 청장과의 대화</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 역대청장소개</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="조직안내">조직안내</a></li>
									<li class="menuSText"><a href="#">- 조직구성도</a></li>
									<li class="menuSText"><a href="#">- 부서별연락처</a></li>
									<li class="menuSText"><a href="#">- 전국경찰관서안내</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 관광경찰</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="경찰의이해">경찰의이해</a></li>
									<li class="menuSText"><a href="#">- 포돌이/포순이</a></li>
									<li class="menuSText"><a href="#">- 상징</a></li>
									<li class="menuSText"><a href="#">- 계급과역할</a></li>
									<li class="menuSText"><a href="#">- 장비소개</a></li>
									<li class="menuSText"><a href="#">- 경찰헌장</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 서비스헌장</a></li>
								</ul>
								<ul>
									<li class="menuSTit"><a href="#" title="경찰역사">경찰역사</a></li>
									<li class="menuSText"><a href="#">- 민주·인권·민생경찰의 뿌리</a></li>
									<li class="menuSText"><a href="#">- 경찰역사순례길</a></li>
									<li class="menuSText"><a href="#">- 역사자료실</a></li>
									<li class="menuSText twoDepthPaddingBtm"><a href="#">- 경찰조직연혁</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="menuTit englishMenu"><a href="#" title="ENGLISH" tabindex=""><h2>ENGLISH</h2></a></div>	
				</div>
			</div>
		</div>
        <div class="headerImg"></div>
    </header>
	<div id="section">
		<div class="secBoardLinkBox">
			<div class="secBoardLink cf">
				<a href="#"><img src="/images/
home.PNG" alt="홈 버튼" tabindex=""></a>
				<div class="secBoardLinkText" OnClick="location.href ='#'" style="cursor:pointer;">소통/공감 ></div>
				<div class="secBoardLinkText" OnClick="location.href ='#'" style="cursor:pointer;">소통게시판 ></div>
				<div class="secBoardLinkText bgGray" OnClick="location.href ='#'" style="cursor:pointer;">자유게시판</div>
				<a href="#"><img src="/images/
link.png" id="link" alt="링크" tabindex=""></a>
				<a href="#"><img src="/images/
print.PNG" alt="프린트" tabindex=""></a>
			</div>
		</div>
		<div class="secSearchBox">
			<div class="secSearchBoxT">
				<div class="freeBoard"><h2>자유게시판</h2></div>
				<div class="freeBoard-Text">자유게시판은 자요로운 의견을 남기는 공간으로 민원관련 답변은 드리지 않습니다.</div>
				<div class="freeBoard-Text">민원관련 문의사항은 국민신문고와 연계된 "경찰민원포털"을 이용해주시기 바랍니다.</div>
				<div class="policeClamePortal"><a href="" tabindex="">경찰민원포털 바로가기</a></div>
			</div>
		</div>
		<div class="secBoardGumsaek">
			<h1 class="gumsaek">게시판 검색</h1>
			<form>
				<input type="text" placeholder="입력" name="keyword" value="" class="gumsaekBox" />
				<input type="submit" value ="검색" class="gumsaekBtn"/>
			</form>	
			<div class="boardTitle">
				<div class="fl boardTitleT1">번호</div>
				<div class="fl boardTitleT2">제목</div>
				<div class="fl boardTitleT3">글쓴이</div>
				<div class="fl boardTitleT4">작성일</div>
			</div>
				<div class="boardContents">
					<div class="boardContentsPiece" th:each="board : ${list}">
						<div class="fl piece1" th:text="${board.id}"></div>
						<div class="fl piece2"><a th:text="${board.title}" th:href="@{/board/detail(id=${board.id})}"></a></div>
						<div class="fl piece3" th:text="${board.writer}"></div>
						<div class="fl piece4" th:text="${board.regdate}"></div>
					</div>
				</div>
			 <button type="button" onclick="location.href='/board/create'" class="fr listBackBtn mr40">생성</button>
		</div>
	</div>
	<footer id="footer">
		<div class="footerNuriBox">
			<div class="footerNuri">
				<div>
					<div class="buserNuri fl" OnClick="location.href ='#'" style="cursor:pointer;">부서별 누리집</div>
					<div class="fl" OnClick="location.href ='#'" style="cursor:pointer;">시·도 경찰청 누리집</div>
					<div class="fl" OnClick="location.href ='#'" style="cursor:pointer;">부속기관 누리집</div>
					<div class="fl" OnClick="location.href ='#'" style="cursor:pointer;">연계기관 누리집</div>
					<a href="#" class="fl"><img src="/images/up.png" class="footerNuriImg" alt="페이지 상단으로 올라가기" tabindex=""></a>
				</div>
			</div>
		</div>
		<div class="footerPolicyBox">
			<div class="footerPolicy">
				<div><a href="#" class="privacyPolicy">개인정보처리방침</a></div>
				<div><a href="#" class="copyRightPolicy">저작권정책</a></div>
				<div><a href="#" class="publicData">공공데이터 이용정책</a></div>
				<div><a href="#" class="documentDownload">문서 보기 프로그램 내려받기</a></div>
				<div><a href="#" class="guide">이용안내</a></div>
				<div><a href="#" class="organization">정부·지자체 조직도</a></div>
			</div>
		</div>
		<div class="footerAddressBox">
			<div class="footerAddress">
				<div class="footerAddressTextBox">
					<div class="footerAddressText">
						<address>
							<span class="addressPolice footerBR">(우)038739 서울특별시 서대문구 통일로 97</span>
							<span class="addressPolice footerBR">민원대표전화 182(유료)</span>
							<span class="addressPolice colorYellow">찾아오시는길</span>
							<div class="copyRightPolice">COPYRIGHTⓒ 2018 NATIONAL POLICE AGENCY</div>
							<div class="warningMessage">본 홈페이지에 게시판 이메일 주소가 자동 수집되는 것을 거부하며, 이를 위반시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</div>
						</address>
					</div>
				</div>
				<div class="footerValidityImg">
					<a href="#"><img src="/images/footer_webwatch.png" id="webWatch" alt="WebAccessibility" tabindex=""></a>
					<a href="#"><img src="/images/footer_eprivacy.png" id="ePrivacy" alt="ePrivacy" tabindex=""></a>
				</div>
			</div>
		</div>	
    </footer>
</body>
</html>